<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.1.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">


	<!-- myBatis文件 -->
	<bean id="oracleSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="oracleDataSource" />
		<!-- 自动扫描entity目录, 省掉Configuration.xml里的手工配置 -->
		<property name="mapperLocations" value="classpath:com/ora/mapping/*.xml" />
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.ora.mapping" />
		<property name="sqlSessionFactoryBeanName" value="oracleSessionFactory" />
	</bean>

	<!-- 配置事务管理器 -->
	<bean id="oracleTransactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="oracleDataSource" />
	</bean>

	<!-- 注解方式配置事物 -->
	<!-- <tx:annotation-driven transaction-manager="transactionManager" /> -->

	<!-- 拦截器方式配置事物 -->
	<tx:advice id="oracleTransactionAdvice" transaction-manager="oracleTransactionManager">
		<tx:attributes>
			<tx:method name="insert*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />

			<tx:method name="get*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="find*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="select*" propagation="SUPPORTS" read-only="true" />

		</tx:attributes>
	</tx:advice>
	
	<!-- <aop:aspectj-autoproxy proxy-target-class="true"/> -->
	
	<!-- <bean id="controllerMethodInterceptor" class="com.xinqing.intercepter.TestThreadInterepter"/>	
	
	<aop:config proxy-target-class="true">
		<aop:pointcut id="controllerMethodPointcut" expression="execution(* com.xinqing.controller..*(..)) and
        	@annotation(org.springframework.web.bind.annotation.RequestMapping)"/>
		<aop:advisor advice-ref="controllerMethodInterceptor" pointcut-ref="controllerMethodPointcut" />
	</aop:config> -->
	
	<!-- Spring aop事务管理 -->
	<aop:config>
		<aop:pointcut id="oracleTransactionPointcut"
			expression="execution(* com.ora.service..*Impl.*(..))" />
		<aop:advisor pointcut-ref="oracleTransactionPointcut"
			advice-ref="oracleTransactionAdvice" />
	</aop:config>  
    
    
</beans>